<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />

<!-- Polices pour le custom nav footer (linkedin, youtube...) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<!-- custom styles to set the url link in bold etc. -->
<!-- <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}"> -->
<link rel="stylesheet" href="/assets/css/custom.css">

{% assign math = page.math | default: layout.math | default: site.math %}

{% case math %}
{% when "mathjax" %}
{% include mathjax.html %}
{% endcase %}