/* 
font-weight : les valeurs disponibles vont de 100 (très fin) à 900 (très gras). 
font-weight: bold; correspond souvent à 700. 
*/
main a {
    /* au lieu de bold */
    font-weight: 600;
}

/* Tighten line height for code blocks */
.highlight pre,
pre.highlight,
pre code {
    /* try 1.15–1.30 to taste */
    line-height: 1.1;
}

/* Reset inside numbered code blocks produced by Rouge (rouge-table) */
/* .rouge-table pre, */
/* .rouge-table pre code, */
/* .rouge-table td, */
/* .rouge-table .lineno { */
/* use a consistent (and larger) line height to match both columns */
/* line-height: 1.1; */
/* or 'normal' */
/* } */