/* 
font-weight : les valeurs disponibles vont de 100 (très fin) à 900 (très gras). 
font-weight: bold; correspond souvent à 700. 
*/
main a {
    /* au lieu de bold */
    font-weight: 600;
}

/* Tighten line height for code blocks */
.highlight pre,
pre.highlight,
pre code {
    line-height: 1.15;
    /* try 1.15–1.30 to taste */
}